{% if emails['teachers'] %}

<p class="text-center text-muted m-3"> {{emails['teachers']|length}} emails from teachers</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Sender name</th>
            <th>Sender email</th>
            <th>Subject</th>
        </tr>
    </thead>

    {% for email in emails['teachers'] %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{email['sender_name']}}</td>
        <td>{{email['sender_email']}}</td>
        <td>{{email['subject']}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<h4 class="text-center text-muted m-5">No emails from teachers</h4>
{% endif %}